<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1098},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1098},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bubble2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,490},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,490},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,490},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,368},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,368},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,368},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,368},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,246},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,246},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,246},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,124},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,124},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,124},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,124},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>bubble3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble_full_eff0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d9a816d310c256431b3249cc58142c$</string>
            <key>textureFileName</key>
            <string>bubble_full_eff0.png</string>
        </dict>
    </dict>
</plist>
