<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{89,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,119}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>fanpaibeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,351},{94,70}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,44},{94,70}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaidonghuashuzif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,147},{19,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{19,49}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>fanpaishou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,143}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{317,143}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{289,137}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,59},{289,137}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,257},{261,131}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,60},{261,131}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,631},{233,125}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,60},{233,125}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,520},{251,109}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{251,109}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{253,101}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{253,101}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{259,93}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{259,93}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{259,101}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,60},{259,101}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{255,115}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{255,115}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{253,187}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{253,187}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fanpaishou999.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{123,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,60},{123,93}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>fapaidonghuafapaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,257},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>fapaidonghuafapaiqigaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,447},{38,42}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{38,42}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>papaiqikapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,447},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>pukebeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,704},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanpai0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea16a8a28966f3aa5582078c7db5e8e7$</string>
            <key>textureFileName</key>
            <string>fanpai0.png</string>
        </dict>
    </dict>
</plist>
