<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_hall_classify_button_xinxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,385},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>happy30s_supervisor_arm_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,83},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>happy30s_supervisor_arm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,241},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>happy30s_supervisor_arm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,366},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>happy30s_supervisor_arm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,337},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>happy30s_supervisor_arm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,302},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>happy30s_supervisor_arm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,400},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>happy30s_supervisor_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{79,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,117}}</string>
                <key>sourceSize</key>
                <string>{79,117}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,419},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,377},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,377},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,377},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,375},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,333},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,333},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,333},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,331},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,583},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,555},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,536},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,496},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,533},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,519},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,512},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,496},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,463},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,470},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,421},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,568},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,590},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,585},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,568},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,579},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,558},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,558},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,552},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,531},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,547},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,531},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_03_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,525},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,227},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,227},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,152},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,152},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,77},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,77},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_04_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,302},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,302},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,302},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,300},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,269},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,238},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,207},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,176},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,145},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,114},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_05_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,83},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>happy30s_supervisor_hair_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,463},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,479},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,463},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,550},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,522},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_06_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,522},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,505},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,494},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,494},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,477},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,466},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,466},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,451},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,449},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,421},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hair_07_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,435},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>happy30s_supervisor_hand_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,335},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>happy30s_supervisor_hand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,203},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>happy30s_supervisor_hand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,574},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>happy30s_supervisor_hand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,278},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>happy30s_supervisor_hand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,501},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>happy30s_supervisor_hand_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,466},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>happy30s_supervisor_hand_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,498},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>happy30s_supervisor_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,421},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>happy30s_supervisor_head_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>happy30s_supervisor_head_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,421},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>happy30s_supervisor_lingjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,313},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>happy30s_supervisor_yaoru_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,160},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhajinhua_supervisor0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:321503a4a94853d6b55d8c3153e0a4e1$</string>
            <key>textureFileName</key>
            <string>zhajinhua_supervisor0.png</string>
        </dict>
    </dict>
</plist>
