<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{340,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{340,104}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{338,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{338,106}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,340},{338,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{338,106}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{342,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{342,102}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{342,100}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{342,100}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{344,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{344,96}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{342,100}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{342,100}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{336,102}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{336,102}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{342,96}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{342,96}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{346,94}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{342,96}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{342,96}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{340,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{340,94}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
            <key>fish19_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{340,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{340,96}}</string>
                <key>sourceSize</key>
                <string>{352,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_190.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b013ccc0cc483e85fc8069104ad7f607$</string>
            <key>textureFileName</key>
            <string>fish_190.png</string>
        </dict>
    </dict>
</plist>
