<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_unknown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{102,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,98},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_unknown_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_370.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5118107d7473bf4b0dd7c213431f3364$</string>
            <key>textureFileName</key>
            <string>fish_370.png</string>
        </dict>
    </dict>
</plist>
