<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_24_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,803},{388,155}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,85},{388,155}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{498,247}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{498,247}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{530,269}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{530,269}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,279}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{544,279}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{412,183}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,74},{412,183}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,217},{434,193}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{434,193}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{454,213}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{454,213}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
            <key>fish_24_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,412},{486,245}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,52},{486,245}}</string>
                <key>sourceSize</key>
                <string>{580,335}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_24_die0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1de32677d90cb0073ed0ab3b66f08e8$</string>
            <key>textureFileName</key>
            <string>fish_24_die0.png</string>
        </dict>
    </dict>
</plist>
