<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish33_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,694},{84,168}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{84,168}}</string>
                <key>sourceSize</key>
                <string>{258,224}</string>
            </dict>
            <key>fish33_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,694},{108,222}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{108,222}}</string>
                <key>sourceSize</key>
                <string>{258,224}</string>
            </dict>
            <key>fish33_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{256,182}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,41},{256,182}}</string>
                <key>sourceSize</key>
                <string>{258,224}</string>
            </dict>
            <key>fish33_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,864},{130,182}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{130,182}}</string>
                <key>sourceSize</key>
                <string>{258,224}</string>
            </dict>
            <key>fish33_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{160,149}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,149}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1210},{162,123}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{162,123}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1335},{160,125}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,125}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{158,137}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{158,137}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1225},{160,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{160,133}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1094},{164,129}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,129}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1048},{164,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,135}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>fish33_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,990},{164,141}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,141}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>lkzb_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,912},{180,208}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,48},{180,208}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,804},{184,212}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,45},{184,212}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{266,278}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{198,218}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,38},{198,218}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,428},{216,226}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{216,226}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{218,224}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{218,224}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,482},{214,224}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{214,224}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{218,222}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{218,222}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,646},{212,224}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{212,224}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>lkzb_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,698},{212,220}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{212,220}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>yhsc_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1133},{160,136}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,51},{160,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{180,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{180,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1046},{194,162}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{194,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,860},{220,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{220,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,476},{240,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{240,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,244},{240,230}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{240,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,244},{240,236}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,186},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yhsc_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_330.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5597d0eade664cc13091796da07fdc6c$</string>
            <key>textureFileName</key>
            <string>fish_330.png</string>
        </dict>
    </dict>
</plist>
