<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_fish_32_die_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{124,251}}</string>
                <key>offset</key>
                <string>{-130,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,251}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,670},{130,229}}</string>
                <key>offset</key>
                <string>{-131,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{130,229}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,213},{132,217}}</string>
                <key>offset</key>
                <string>{-118,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{132,217}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{118,217}}</string>
                <key>offset</key>
                <string>{-88,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{118,217}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,209}}</string>
                <key>offset</key>
                <string>{-66,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{156,209}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,432},{236,191}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,126},{236,191}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,235}}</string>
                <key>offset</key>
                <string>{38,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,174},{316,235}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{306,227}}</string>
                <key>offset</key>
                <string>{26,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,170},{306,227}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
            <key>pic_fish_32_die_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{314,209}}</string>
                <key>offset</key>
                <string>{25,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,179},{314,209}}</string>
                <key>sourceSize</key>
                <string>{392,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_32_die0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a87c2b9d1a58b951f8c7a6c5ec28466$</string>
            <key>textureFileName</key>
            <string>fish_32_die0.png</string>
        </dict>
    </dict>
</plist>
