<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SnakeBody_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,232},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,156},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,257},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,368},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,80},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,146},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,257},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,146},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeBody_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,436},{109,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{109,74}}</string>
                <key>sourceSize</key>
                <string>{211,118}</string>
            </dict>
            <key>SnakeHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{150,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{150,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,146},{142,76}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{142,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{150,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{150,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{150,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{150,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{152,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{156,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeHead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{156,76}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>SnakeTail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,146},{144,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,46},{144,36}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>SnakeTail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{140,64}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{140,64}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>SnakeTail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{142,42}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,48},{142,42}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>SnakeTail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{144,52}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{144,52}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>SnakeTail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{142,76}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{142,76}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_350.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02bad59ee0bbdc3dce4d3ba08134aae8$</string>
            <key>textureFileName</key>
            <string>fish_350.png</string>
        </dict>
    </dict>
</plist>
