<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RangeBomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,340},{168,176}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{168,176}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,178}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,178}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{162,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{162,178}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{166,178}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{166,178}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{168,176}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{168,176}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{166,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{166,176}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{168,174}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{168,174}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{168,178}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{168,178}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,676},{166,174}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{166,174}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{164,176}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{164,176}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>RangeBomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,510},{164,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{164,176}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_520.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f67df13e3270dbae2279bf5bad30166$</string>
            <key>textureFileName</key>
            <string>fish_520.png</string>
        </dict>
    </dict>
</plist>
