<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bglu_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,552},{189,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>effect_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,345}}</string>
                <key>sourceSize</key>
                <string>{324,345}</string>
            </dict>
            <key>effect_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{197,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,201}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>effect_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,537},{174,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,165}}</string>
                <key>sourceSize</key>
                <string>{174,165}</string>
            </dict>
            <key>fish_49_pic00.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,873},{146,136}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,26},{146,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,136},{104,124}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{104,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,398},{94,112}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{94,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,398},{118,106}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,66},{118,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{124,102}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,66},{124,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,136},{132,102}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,66},{132,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,270},{110,126}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{110,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic07.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,873},{110,146}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{110,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic08.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{130,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{130,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic09.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,754},{192,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{192,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{200,192}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,349},{186,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic12.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,713},{158,158}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{158,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_pic13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,743},{184,180}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{184,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_49_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{198,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,45}}</string>
                <key>sourceSize</key>
                <string>{198,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_490.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854d84f1692a6977d9bacc40bb450220$</string>
            <key>textureFileName</key>
            <string>fish_490.png</string>
        </dict>
    </dict>
</plist>
