<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_25_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,326},{372,152}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{372,152}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{372,160}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{372,160}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,326},{372,152}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{372,152}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,168},{372,156}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{372,156}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{372,154}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{372,154}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{372,152}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{372,152}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{372,154}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{372,154}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,166}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{372,166}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
            <key>fish_25_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,164}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{372,164}}</string>
                <key>sourceSize</key>
                <string>{384,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_25_move0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b021fa06035d48b21fad96993f97e29a$</string>
            <key>textureFileName</key>
            <string>fish_25_move0.png</string>
        </dict>
    </dict>
</plist>
