<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_32_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,269},{160,269}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{160,269}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,591},{158,265}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{158,265}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{156,265}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{156,265}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{156,269}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{156,269}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,751},{154,267}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{154,267}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,751},{152,267}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{152,267}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{162,267}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{162,267}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{168,265}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{168,265}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,263}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{172,263}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
            <key>fish_32_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,431},{158,267}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{158,267}}</string>
                <key>sourceSize</key>
                <string>{180,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_32_move0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df570bfd52646806c778f3fe2ac7b79d$</string>
            <key>textureFileName</key>
            <string>fish_32_move0.png</string>
        </dict>
    </dict>
</plist>
