<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish29_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,772},{140,162}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,31},{140,162}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{230,176}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{230,176}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,297},{224,192}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,64},{224,192}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{188,184}}</string>
                <key>offset</key>
                <string>{26,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{188,184}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,586},{168,184}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{168,184}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,212},{116,230}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,8},{116,230}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,772},{140,184}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,36},{140,184}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{168,190}}</string>
                <key>offset</key>
                <string>{28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,55},{168,190}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{200,190}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,56},{200,190}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>fish29_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{314,101}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,117},{288,93}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{288,93}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,101},{298,103}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{298,103}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{312,97}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{312,97}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,206},{286,89}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{286,89}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{292,109}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{292,109}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,117},{270,97}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{270,97}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
            <key>fish29_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{310,113}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{310,113}}</string>
                <key>sourceSize</key>
                <string>{320,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_290.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:937ee62489595ad6930a15d96581d0d1$</string>
            <key>textureFileName</key>
            <string>fish_290.png</string>
        </dict>
    </dict>
</plist>
