<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huo_00000.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00001.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00002.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00003.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00004.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00005.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00006.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00007.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00008.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huo_00009.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00000.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00001.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00002.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00003.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00004.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00005.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00006.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00007.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00008.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_00009.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00009.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00000.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00001.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>599</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00002.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00003.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>789</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00004.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00005.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00006.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00007.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zi_00008.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>530</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>win_bj_dfdc_2.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00009.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00008.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00000.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00001.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>809</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00002.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00003.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>899</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00004.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00005.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00006.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bigwin_00007.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1409</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>win_bj_dfdc_1.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>win_bj_dfdc.png</key>
			<dict>
				<key>width</key>
				<integer>947</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>947</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>989</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>win_bj_dfdc_glow.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dfdc_win_eff0.png</string>
			<key>realTextureFileName</key>
			<string>dfdc_win_eff0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>