<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aircraft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1806},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>aircraft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1494},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1254},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1092},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1032},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,870},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,810},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,870},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1182},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1554},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1554},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,870},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1332},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,648},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,426},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,204},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1590},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1590},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>aircraft_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{220,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,310}}</string>
                <key>sourceSize</key>
                <string>{220,310}</string>
            </dict>
            <key>cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,870},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,608},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,608},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,406},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,406},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,204},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,204},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1128},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,666},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1128},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
            <key>cloud_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,200}}</string>
                <key>sourceSize</key>
                <string>{460,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_aircraft_eff0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08cfdc6fa6b45b731d07cd39daa9826c$</string>
            <key>textureFileName</key>
            <string>ddz_aircraft_eff0.png</string>
        </dict>
    </dict>
</plist>
