<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,999},{89,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,119}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>fanpaibeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,564},{90,68}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,44},{90,68}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaidonghuashuzif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,80},{19,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{19,49}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>fanpaishou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{244,110}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{244,110}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{222,106}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{222,106}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{200,102}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{200,102}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{178,96}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{178,96}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{194,84}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{194,84}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{192,78}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{192,78}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{198,70}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{198,70}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{198,78}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,45},{198,78}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{194,90}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{194,90}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fanpaishou0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,144}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{194,144}}</string>
                <key>sourceSize</key>
                <string>{250,164}</string>
            </dict>
            <key>fapaidonghuafapaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,999},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>fapaidonghuafapaiqigaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{38,42}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{38,42}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>papaiqikapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,42},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>pukebeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,908},{89,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,119}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanpai0.png</string>
            <key>size</key>
            <string>{252,1122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a20f45a7e32a19971d30d89606922b1$</string>
            <key>textureFileName</key>
            <string>fanpai0.png</string>
        </dict>
    </dict>
</plist>
