<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjh_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1214},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,646},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,454},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,454},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,228},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,228},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,228},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1242},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,824},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,406},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_bz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,224}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
            <key>zjh_hb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1516},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1818},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1214},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1516},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1818},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1214},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1516},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1818},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1214},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1516},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1214},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1632},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1012},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,810},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,608},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,406},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1660},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1660},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_hb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>zjh_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{330,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,200}}</string>
                <key>sourceSize</key>
                <string>{330,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh_pxdh_eff_30.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d68db97fbae08468262a122a8c6fe34$</string>
            <key>textureFileName</key>
            <string>zjh_pxdh_eff_30.png</string>
        </dict>
    </dict>
</plist>
