<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1290},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,928},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,566},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,284},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,284},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,284},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1732},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1370},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1008},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,646},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bomb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bomb3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bomb3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bomb4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bomb7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,154},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_bomb_eff0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf29b2570dfb5cf3aee8db5f9236f41$</string>
            <key>textureFileName</key>
            <string>ddz_bomb_eff0.png</string>
        </dict>
    </dict>
</plist>
