<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sail1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,486},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,394},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1842},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1842},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1842},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1842},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,302},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,210},{90,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,160}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>sail2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,458},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>sail2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,608},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>sail2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,940},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>sail2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1302},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>sail2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,608},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>sail2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,608},{310,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>seawater_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,940},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1664},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1302},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,940},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,578},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,306},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,306},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,306},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1480},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1118},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,756},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,394},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,154},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,154},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,154},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,154},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>seawater_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>ship_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{206,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,220}}</string>
                <key>sourceSize</key>
                <string>{206,220}</string>
            </dict>
            <key>ship_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,306},{340,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,300}}</string>
                <key>sourceSize</key>
                <string>{340,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_straight_eff0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8a83801a8f02ffffa2881bb88dc558$</string>
            <key>textureFileName</key>
            <string>ddz_straight_eff0.png</string>
        </dict>
    </dict>
</plist>
