<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\NewClient.git\new_client\simulator\win32\new_client.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\NewClient.git\new_client\simulator\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>